body {
    background: #99bd90;
}
.g-index {
    width: 760px;
    height: 560px;
    background: #cdd3f5;
    padding: 20px;
}
.g-hd {
    width: 760px;
    height: 120px;
    background: #99bd90;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.g-body {
    width: 760px;
    height: 420px;
    background: #99bd90;
    display: flex;
}
.g-hd>li {
    width: 80px;
    height: 80px;
    background: #cdd3f5;
    margin:20px 40px 20px 20px ;
}
.g-hd>div:nth-child(5) {
    margin: 20px 0px 20px 100px;
}
li {
    list-style: none;
}
.b-left {
    width: 200px;
    height: 370px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.b-left>p {
    width: 200px;
    height: 300px;
    background: #cdd3f5;
}
.b-left>li {
    width: 50px;
    height: 50px;
    background: #cdd3f5;
    margin-right: 25px;
}
.b-left>li:nth-child(4) {
    margin: 0;
}
.b-right {
    width: 480px;
    height: 370px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 16px 0 0 40px;
}

.b-right>li {
    width: 480px;
    height: 40px;
    background: #cdd3f5;
    margin-bottom: 15px;
}
.b-right>li:nth-child(7) {
    margin: 0;
}
