body{
    margin: 0;
}
li{
    list-style: none;
}


.m-menu{
    padding: 15px 65.5px;
    font-size: 13px;
    letter-spacing: px;
}

.m-menu-item+.m-menu-item
{
    margin-left: 22px;
}

.sidebar{
    width: 50%;
    float: left;
}

.l-left{
    margin-left: 33px;
    margin-top: 23px;
    font-size: small;
}
.l-left1{
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 33px;
    margin-top: 4px;
}
.l-left2{
    margin-left: 33px;
    margin-top: 5px;
    font-weight: 700;
    font-size: smaller;
}
.l-left3{
    margin-left: 33px;
    margin-top: 18px;
    font-weight: 700;
    font-size: xx-small;
}
.l-left4{
    margin-left: 33px;
    margin-top: 5px;
    font-weight: 700;
    font-size: xx-small;
}

.l1-left{
    font-size: small;
    margin-left: 33px;
    margin-top: 50px;
}
.l1-left1{
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 33px;
    margin-top: 4px;
}
.l1-left2{
    margin-left: 33px;
    margin-top: 5px;
    font-weight: 700;
    font-size: smaller;
}
.l1-left3{
    margin-left: 33px;
    margin-top: 18px;
    font-weight: 700;
    font-size: xx-small;
}
.l1-left4{
    margin-left: 33px;
    margin-top: 5px;
    font-weight: 700;
    font-size: xx-small;
}

.l2-left{
    font-size: small;
    margin-left: 33px;
    margin-top: 50px;
}
.l2-left1{
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 33px;
    margin-top: 4px;
}
.l2-left2{
    margin-left: 33px;
    margin-top: 5px;
    font-weight: 700;
    font-size: smaller;
}
.l2-left3{
    margin-left: 33px;
    margin-top: 18px;
    font-weight: 700;
    font-size: xx-small;
}
.l2-left4{
    margin-left: 33px;
    margin-top: 5px;
    font-weight: 700;
    font-size: xx-small;
}


.mainbar{
    width: 50%;
    float: right;
}
.l-right{
    margin-left: 25px;
    margin-top: 55px;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.l-right1
{
    margin-left: 25px;
    margin-top: 5px;
}
.l-right2{
    margin-left: 69px;
    margin-top: 25px;
    font-weight: 600;
}
.l-right3{
    margin-left: 69px;
    font-weight: 600;
}
.l-right4{
    margin-left: 69px;
    font-weight: 600;
}
.l-right5{
    margin-left: 69px;
    margin-top: 6px;
    font-size: xx-small;
    font-weight: 600;
}
.l-right6{
    margin-left: 69px;
    margin-top: 5px;
    font-size: xx-small;
    font-weight: 600;
}
.l1-right
{
    margin-left: 70px;
    margin-top: 25px;
    font-weight: 600;
}
.l1-right1{
    margin-left: 70px;
    font-weight: 600;
}
.l1-right2{
    margin-left: 71px;
    font-weight: 600;
}
.l1-right3{
    margin-left: 71px;
    margin-top: 5px;
    font-size: xx-small;
    font-weight: 600;
}
.l1-right4{
    margin-left: 71px;
    margin-top: 5px;
    font-size: xx-small;
    font-weight: 600;
}
.l2-right
{
    margin-left: 71px;
    margin-top: 25px;
    font-weight: 600;
}
.l2-right1{
    margin-left: 71px;
    font-weight: 600;
}
.l2-right2{
    margin-left: 71px;
    margin-top: 5px;
    font-size: xx-small;
    font-weight: 600;
}
.l2-right3{
    margin-left: 71px;
    margin-top: 5px;
    font-size: xx-small;
    font-weight: 600;
}
